
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /* Reset some default styles to ensure consistent behavior across browsers */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .rain-animation {
    position: relative;
    overflow: hidden;
  }
  
  .rain-animation::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMyIgaGVpZ2h0PSIxMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHJlY3Qgd2lkdGg9IjMiIGhlaWdodD0iMTAwIiBmaWxsPSIjZmZmIiAvPjwvc3ZnPgo=) repeat-x;
    animation: rain 1s linear infinite;
  }
  
  @keyframes rain {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }